.header {
    color: rgb(82, 82, 171);
    margin-left: 2rem;
}

.selection {
    margin-left: 2rem;
}

.show {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 2rem;
}

.qna {
    margin-left: 2rem;
}